*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    background: rgb(70,65,156);
    background: linear-gradient(90deg, rgba(70,65,156,1) 35%, rgba(9,115,121,1) 42%, rgba(0,212,255,1) 100%);    
}

body {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.wrap{
    height: 250px;
    padding: 10px;
    margin: 20px auto;
    width: 70%;
    border: 2px solid black;
}

.textbox{
    color: black;
    margin-top: 65px;
}

.textbox h2{
    font-size: 42px;
}

img{
    float: left;
    border: 3px solid black;
    border-radius: 50%;
    margin-right: 15px;
}

.textbox p{
    font-size: 16px;
}

.containerG {
    height: 1000px;
    width: 75%;
    padding: 1em;
    display: grid;
    grid-template-areas: 
    "one two two three"
    "one two two three"
    "four five five six"
    "four five five six"
    "seven five five eight";
    gap: 1em;
    margin-left: 200px;
}
.centerFlex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.oneG {
    grid-area: one;
    background-color: grey;
    border-radius: 10px;
}
.twoG {
    grid-area: two;
    background-color: grey;
    border-radius: 10px;
}
.threeG {
    grid-area: three;
    background-color: grey;
    border-radius: 10px;
}
.fourG{
    grid-area: four;
    background-color: grey;
    border-radius: 10px;
}
.fiveG{
    grid-area: five;
    background-color: grey;
    border-radius: 10px;
}
.sixG{
    grid-area: six;
    background-color: grey;
    border-radius: 10px;
}
.sevenG{
    grid-area: seven;
    background-color: grey;
    border-radius: 10px;
}
.eightG{
    grid-area: eight;
    background-color: grey;
    border-radius: 10px;
}

.fa {
    font-family: "Font Awesome";
    font-size: 20px; /* adjust as needed */
  }

.fa-github{
    font-size: 30px;
    color: black;
    padding: 10px;
}

.fa-envelope{
    font-size: 30px;
    color: black;
    padding: 5px;
}

.fa-phone{
    font-size: 30px;
    color: black;
    padding: 5px;
}

.fa-linkedin{
    font-size: 30px;
    color: black;
    padding: 5px;
}