*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    background-color: #4e5855;
}
body {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.wrap{
    height: 250px;
    padding: 10px;
    margin: 20px auto;
    width: 70%;
    border: 2px solid whitesmoke;
    border-radius: 10px;
}
.textbox{
    color: black;
    margin-top: 65px;
}
.textbox h2{
    font-size: 42px;
}
img{
    float: left;
    border-radius: 50%;
    margin-right: 15px;
    width: 225px;
    height: 225px;
}
.textbox p{
    font-size: 16px;
}

.containerG {
    height: 1000px;
    width: 75%;
    padding: 1em;
    display: grid;
    grid-template-areas:
    "one two two three" /* First row */
    "one two two three" /* Second row */
    "four five five six" /* Third row */
    "four five five six" /* Fourth row (adjust if needed) */
    "nine five five seven"; /* Fifth row (adjust if needed) */
    gap: 1em;
    margin-left: 200px;
}

.oneG {
    width: 300px;
    /* display: flex; 
    flex-direction: column;*/
    grid-area: one;
    border-radius: 10px;
    justify-content: start;
    border: 2px solid whitesmoke;
}
.detail1{
    border: 1px solid black;
    height: 30px;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: black;
    color: white;
}
.hyper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10%;
}
.fa {
    font-family: "Font Awesome";
    /* font-size: 20px; adjust as needed */
  }
.fa-github{
    font-size: 30px;
    color: black;
    padding: 10px;
}
.fa-envelope{
    font-size: 30px;
    color: black;
    padding: 10px;
}
.fa-phone{
    font-size: 30px;
    color: black;
    padding: 10px;
}
.fa-linkedin{
    font-size: 30px;
    color: black;
    padding: 10px;
}
.location{
    font-size: 20px;
    padding: 10px;
}


.twoG {
    grid-area: two;
    border-radius: 10px;
    border: 2px solid whitesmoke;
}
#bca{
    padding: 10px;
    font-size: 16px;
}
#pu{
    padding: 10px;
    font-size: 16px;
}
#sslc{
    padding: 10px;
    font-size: 16px;
}

.threeG {
    grid-area: three;
    border-radius: 10px;
    border: 2px solid whitesmoke;
}
.skile{
    margin: 100px auto;
    width: fit-content;
    margin-top: 17%;
}


.fourG{
    width: 300px;
    display: flex;
    flex-direction: column;
    grid-area: four;
    border-radius: 10px;
    justify-content: start;
    border: 2px solid whitesmoke;
}
#about{
    padding: 10px;
    text-align: center;
}


.fiveG{
    grid-area: five;
    border-radius: 10px;
    border: 2px solid whitesmoke;
}
#ches, #ecom, #lib, #muli, #more{
    padding: 10px;
}


.sixG{
    grid-area: six;
    border-radius: 10px;
    border: 2px solid whitesmoke;
}
#areap{
    margin: 100px auto;
    width: fit-content;
}


.sevenG{
    grid-area: seven;
    border-radius: 10px;
    border: 2px solid whitesmoke;
}
#hobbp{
    margin: 100px auto;
    width: fit-content;
}


.nineG{
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    grid-area: nine;
    border-radius: 10px;
    justify-content: start;
    border: 2px solid whitesmoke;
}
#lanp{
    margin: auto auto;
    width: fit-content;
}


@media screen and (max-width: 500px) {
    .containerG {
        grid-template-areas:
        "one one"
        "two two"
        "three three"
        "four four"
        "five five"
        "six six"
        "nine nine"
        "seven seven";
    }
    
}